.navbar {
    display: flex;
    height: 40px;
    background-color: #FFAFCC;
    padding: 10px; 
    font-size: 18px;
    margin-bottom: 60px;
    align-items: center;
  }
  
.navLink {
    margin-left: 10px;
    margin-right: 40px;
}

.navLink a{
    text-decoration: none;
}

.link{
    color: white;
}

.link:hover{
    color: #555;
}

.link_disabled{
    color: #555;
}