/* .card_set_item {
    background-color: #b700ff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
}

.card_set_item:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */


/* ******************** NEW CODES ******************** */


.card_set_item {
    background-color: pink;
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    width: 200px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .card_set_item:hover {
    background-color: #0056b3;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card_set_item h3 {
    margin: 0;
    margin-bottom: 10px;
  }  