.body{
  background-color: beige;
}

.navbar {
  display: flex;
  height: 40px;
  background-color: palevioletred;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.back {
  cursor: pointer;            
  color: white;            
  font-family: Arial;     
  font-size: 16px;       
  font-weight: bold; 
  margin-right: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.back:hover {
  transform: scale(1.1);
}

.edit_mode_button {
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  border: none; 
  padding: 10px 20px;
  cursor: pointer; 
  order: 2;
}

.edit_mode_button:hover {
  background-color: #0056b3;
}

.title {
  font-family: Arial;
  flex-grow: 1; 
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.centeredContent {
  background-color: beige;
  color: #6C757D; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
